<div class="form">
<h3>Your question for the coach: </h3>
  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="Ask me anything...">
    <input type="submit" id="btn" value="Submit">
  </form>

</div>
